.body {
  background-color: #2cc1a1;
}
.leaderboard-container {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: px;
  color: #2cc1a1;
}

table {
    text-align: center;
    table-layout: auto;
    margin: auto;
    margin-top: 10px;
}

table, th, tr {
    border: 1px solid black;
}