.body {
  background-color: #2cc1a1;
}
.leaderboard-container {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: px;
  color: #2cc1a1;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

